<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd"> -->
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration">
                                                                                             
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/poo2</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">postgres</property>
    
        <property name="hibernate.hbm2ddl.auto">create</property>   
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
    
        <mapping class="domain.TipoServico"></mapping>
        <mapping class="domain.Pessoa"></mapping>
        <mapping class="domain.Orcamento"></mapping>
        <mapping class="domain.Material"></mapping>
        <mapping class="domain.MaterialOrcamento"></mapping>
        <mapping class="domain.MaterialOrcamentoPK"></mapping>
        <mapping class="domain.Endereco"></mapping>
        <mapping class="domain.Cliente"></mapping>
        <mapping class="domain.Fornecedor"></mapping>
    
    
    </session-factory>
</hibernate-configuration>
